<%= form_with(model: sale) do |form| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
        <% sale.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :purchase_count %>
    <%= form.number_field :purchase_count %>
  </div>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.text_field :item_id %>
  </div>

  <div class="field">
    <%= form.label :merchant_id %>
    <%= form.text_field :merchant_id %>
  </div>

  <div class="field">
    <%= form.label :purchaser_id %>
    <%= form.text_field :purchaser_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
